<section class="card">
  <a href="/dashboard/{{post.id}}">
    <header>{{post.title}}</header>
    <p>Posted on: {{formate_date post.posted_on}}</p>
    <div class="card-body">
      <p>{{post.content}}</p>
    </div>
    <div class="update-btns">
      <button id="update" class="btn-no-style" data-id="{{post.id}}">Update</button>
      <button id="delete" class="btn-no-style" data-id="{{post.id}}">Delete</button>
    </div>
  </a>
</section>